body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

form {
  max-width: 400px;
  margin: 20px auto;
}

.search-bar {
  margin-bottom: 50px;
}

.btn-round {
  margin: 20px;
}


section {
  margin-bottom: 20px;
}

section img {
  width: 100%;
  height: auto;
}

section h2 {
  margin: 10px 0;
}

section p {
  margin: 10px 0 20px;
}

section a {
  text-decoration: none;
  color: #007bff; 
  font-weight: bold;
}
